<nz-form-item [ngClass]="{'mb-0':offMb}" class="w-100" id="{{id}}">
  <nz-form-label *ngIf="showLabel" [nzRequired]="isRequired" [nzTooltipTitle]="tooltipTitle" [nzSpan]="labelSpan"
                 [nzLabelWrap]="isWrapLabel">{{ label }}
  </nz-form-label>
  <nz-form-control [nzSpan]="inputSpan" [nzWarningTip]="warningText" [nzValidatingTip]="hint"
                   [nzErrorTip]="errorText" [nzHasFeedback]="hasFeedback">
    <ng-container [ngSwitch]="type">
      <nz-input-group [nzSearch]="isSearch" *ngSwitchDefault [nzAddOnBefore]="addOnBefore" [nzAddOnAfter]="addOnAfter"
                      [nzPrefix]="prefix" [nzSuffix]="suffix" [nzAddOnAfterIcon]="addOnAfterIcon"
                      [nzPrefixIcon]="prefixIcon" [nzSuffixIcon]="suffixIcon" [nzAddOnBeforeIcon]="addOnBeforeIcon">
        <input [style.width.%]="100" [placeholder]="placeHolder" [nzSize]="size" #inputElements="ngModel"
               [disabled]="isDisabled || ngControl?.disabled" (blur)="onBlur()"
               [(ngModel)]="value" nz-input type="{{type}}"/>
      </nz-input-group>
      <nz-select [nzPlaceHolder]="placeHolder" [nzMode]="selectMode" *ngSwitchCase="'select'"
                 [nzShowSearch]="allowSearch" (nzBlur)="onBlur()"
                 [nzSize]="size" [nzAllowClear]="allowClear" [compareWith]="compareFn" [nzServerSearch]="isServerSearch"
                 [nzLoading]="isLoading"
                 #inputElements="ngModel" [disabled]="isDisabled || ngControl?.disabled"
                 [nzAutoClearSearchValue]="autoClearSearchValue"
                 [(ngModel)]="value" (nzOnSearch)="onSearch($event)" (nzScrollToBottom)="loadMore()"
                 [nzDropdownRender]="renderTemplate">
        <ng-container *ngFor="let item of items">
          <nz-option *ngIf="!isLoading" [nzValue]="bindValue?item[bindValue]:item"
                     [nzLabel]="isTranslation?(bindLabel?translate.instant(item[bindLabel]):translate.instant(item)):(bindLabel?item[bindLabel]:item)">
          </nz-option>
        </ng-container>
        <ng-template #renderTemplate>
          <nz-spin *ngIf="isLoadingMore"></nz-spin>
        </ng-template>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <span nz-icon nzType="loading" class="loading-icon"></span>
          {{ 'common.loadingData'|translate }}...
        </nz-option>
      </nz-select>
      <nz-date-picker class="w-100" [nzPlaceHolder]="placeHolder" [nzDisabled]="isDisabled || ngControl?.disabled"
                      *ngSwitchCase="'date'" #inputElements="ngModel" [nzShowTime]="showTime" [nzShowNow]="showNow"
                      [nzShowToday]="showToday" [nzFormat]="dateTimeFormat" [nzDisabledDate]="disabledDate"
                      [(ngModel)]="value" [nzSize]="size" (blur)="onBlur()"></nz-date-picker>
      <nz-input-number *ngSwitchCase="'number'" class="w-100" [nzPlaceHolder]="placeHolder"
                       [nzDisabled]="isDisabled || ngControl?.disabled" (nzBlur)="onBlur()"
                       [style.width.%]="100" #inputElements="ngModel" [nzMin]="min" [nzMax]="max"
                       [(ngModel)]="value" [nzStep]="step" [nzSize]="size">
        <span *ngIf="addOnBefore || addOnBeforeIcon" nzInputAddonBefore>
          <ng-container *ngIf="addOnBeforeIcon">
            <nz-icon nzInputAddonBefore [nzType]="addOnBeforeIcon"></nz-icon>
          </ng-container>
          <ng-container *ngIf="isTemplateRef(addOnBefore); else beforeText">
            <ng-container nzInputAddonBefore *ngTemplateOutlet="addOnBefore"></ng-container>
          </ng-container>
          <ng-template #beforeText>
            <span nzInputAddonBefore *ngIf="addOnBefore">{{ addOnBefore }}</span>
          </ng-template>
        </span>

        <span *ngIf="addOnAfter || addOnAfterIcon" nzInputAddonAfter>
          <ng-container *ngIf="isTemplateRef(addOnAfter); else afterText">
            <ng-container nzInputAddonAfter  *ngTemplateOutlet="addOnAfter"></ng-container>
          </ng-container>
          <ng-template #afterText>
            <span nzInputAddonAfter  *ngIf="addOnAfter">{{ addOnAfter }}</span>
          </ng-template>
          <ng-container *ngIf="addOnAfterIcon">
            <nz-icon nzInputAddonAfter  [nzType]="addOnAfterIcon"></nz-icon>
          </ng-container>
        </span>
        <span *ngIf="prefix" nzInputPrefix>
          <ng-container *ngIf="isTemplateRef(prefix); else prefixText">
            <ng-container nzInputPrefix *ngTemplateOutlet="prefix"></ng-container>
          </ng-container>
          <ng-template #prefixText>{{ prefix }}</ng-template>
        </span>
        <span *ngIf="suffix" nzInputSuffix>
          <ng-container *ngIf="isTemplateRef(suffix); else suffixText">
            <ng-container nzInputSuffix *ngTemplateOutlet="suffix"></ng-container>
          </ng-container>
          <ng-template nzInputSuffix #suffixText>{{ suffix }}</ng-template>
        </span>
      </nz-input-number>
    </ng-container>
  </nz-form-control>
</nz-form-item>
